<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">


<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-button>Klik me!</mat-button> -->
<div id="header">
  <div id="centeredHeader">
    <input id="inputBearer" placeholder="Bearer token" [(ngModel)]="bearerToken" size="270">
  </div>
</div>
<div id="sideBar">
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="buttonList">
    <li class="myBtnItem">
      <p class="myBtn" (click)="login()">Login</p>
        <!-- <button class="myBtn" mat-raised-button (click)="login()">Login</button> -->
    </li>
    <li class="myBtnItem">
      <p class="myBtn" (click)="exchangeToken()">Exchange token</p>
        <!-- <button class="myBtn" mat-raised-button (click)="exchangeToken()">Exchange token</button> -->
      </li>
      <li class="myBtnItem">
      <p class="myBtn" (click)="getCalendars()">Load Calendars</p>
          <!-- <button class="myBtn" mat-raised-button (click)="getCalendars()">Load Calendars</button> -->

        </li>
  </ul>
</div>

<div id="content">

  <p *ngIf="areCalendars" id="calendarTitle"> Calendars</p>
  <mat-table class="calendarTable" #table [dataSource]="dataSrc" *ngIf="areCalendars">

          <ng-container matColumnDef="summary">
            <mat-header-cell *matHeaderCellDef > Summary </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.summary}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
          <mat-row class="calRow" *matRowDef="let row; columns: displayedCols;" (click)="loadSingle(row)"></mat-row>
        </mat-table>






        <mat-table class="singleCalTable" #table [dataSource]="calSrc" *ngIf="isCal">

                      <ng-container matColumnDef="summary">
                        <mat-header-cell *matHeaderCellDef> Summary </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.summary}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="start['dateTime']">
                          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{parseDate(element.start.dateTime)}} </mat-cell>
                        </ng-container>

                      <mat-header-row *matHeaderRowDef="calCols"></mat-header-row>
                      <mat-row class="calRow" *matRowDef="let row; columns: calCols;"></mat-row>
                    </mat-table>




                  </div>


